/* Wrapper */
.hotspot-wrapper {
    position: relative;
    display: inline-block;
    max-width: 100%;
}

/* Background image */
.hotspot-bg {
    width: 100%;
    height: auto;
    display: block;
}

/* Individual hotspot */
.hotspot-item {
    position: absolute;
    transform: translate(-50%, -50%);
}

/* Hotspot icon */
.hotspot-icon {
    width: 22px;
    height: 22px;
    background: #e63946;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}
.hotspot-icon-img{
    z-index: 20;
    border: 2px solid #7646B1!important;
    border-radius: 50%!important;
    padding: 5px!important;
}

/* Tooltip popup */
.hotspot-tooltip {
    display: none;
    position: absolute;
    top: 28px;
    left: 50%;
    transform: translateX(-50%);
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #ffffff;
    padding: 16px 18px;
    width: 500px;
    font-size: 16px;
    line-height: 1.4;
    z-index: 90;
}

/* Tooltip title */
.hotspot-tooltip strong {
    display: block;
    margin-bottom: 4px;
    font-size: 20px;
}

/* Show tooltip on hover */
.hotspot-item:hover .hotspot-tooltip {
    display: block;
}
